<h1>
<%= @recipe.name %>
</h1>

<% @steps.each do |step| %>
	<%= step.order_in_recipe %>. <%= step.description %>
	<br>
	<% end %>

<br>
<%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete %>